body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #F2F6D0
}
a {
    color: #3F3F96;
}
#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}
#articles {
    display: inline-block;
    overflow: auto;
    width: 60%;
    height: 700px;
}
.story {
    color: #3F3F96;
    padding-bottom: 15px;
}
.summary {
    color: grey;
    font-style: italic;
}
.tellingdate {
    font-size: smaller;
}
#comments {
    float: right;
    width: 30%;
}
.commentbox {
    padding-top: 10px;
}
.commfor {
    font-size: larger;
    font-weight: bold;
}
.readercomm a {
    color: red;
    font-size: smaller;
}
.readercomm {
    color: blue;
}
.commdt {
    color: grey;
    font-weight: normal;
    font-size: smaller;
}
.speaker {
    font-weight: bold;
}
.newcomm {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
}
textarea,
input {
    display: block;
    width: 100%;
    background-color: #FCF5C7;
}
input {
    height: 36px;
    margin-top: 5px;
    margin-bottom: 10px;
}
textarea {
    height: 100px;
    margin-top: 5px;
    margin-bottom: 10px;
}